#include "../../includes/core/core.h"
#include "../../includes/parser/parser.h"

PBYTE GetConfig() {
	return (PBYTE)<|REPLACE_CONFIG_HERE|>;
}

UINT32 ConfigSize() {
	return <|REPLACE_CONFIG_SIZE_HERE|>;
}

BOOL ParseConfig() {
	ParserRead *p = ParserInitRead(GetConfig(), ConfigSize());
	INT bytesRead = 0;
	bytesRead = ParserReadStringInto(p, ldr->config->CampaignID, 37);
	if(bytesRead == 0) 
		return FALSE;

	bytesRead = ParserReadStringInto(p, ldr->config->AgentId, 37);
	if(bytesRead == 0) 
		return FALSE;
	
	
	return TRUE;

}


